In [10]:
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import earthpy as et 
import shapely

In [11]:
raque_data = pd.read_csv("all_data_raquel.csv")
horte_data = pd.read_csv("all_data_horte.csv")

In [12]:
raque_data

,Unnamed: 0,index,CVEGEO,NOM_ENT,NOM_MUN,POB_TOTAL,ALTITUD,AREA,UMBRAL12H,PORCENTA_1,urban,agua_AR,agua_FC,agua_PA,agua_PT,agua_PP,avg_impact,std_impact
0,0,0,1001,Aguascalientes,Aguascalientes,948990.0,1918.046196,116635.924756,57.80700,4.829056,3.0,91.0,226.0,2.0,24.0,0.0,0.900702,0.103733
1,1,1,1002,Aguascalientes,Asientos,51536.0,2030.520325,54337.426602,60.05970,4.274541,0.0,0.0,54.0,1.0,9.0,0.0,0.904023,0.087950
2,2,2,1003,Aguascalientes,Calvillo,58250.0,1827.143813,92335.783227,60.71769,1.158972,0.0,7.0,43.0,1.0,4.0,0.0,0.787156,0.188078
3,3,3,1004,Aguascalientes,Cosío,17000.0,1967.656566,12838.354453,52.22142,3.153082,0.0,10.0,13.0,1.0,3.0,0.0,0.912407,0.040532
4,4,4,1005,Aguascalientes,Jesús María,129929.0,1936.513072,49989.509156,58.46688,3.357602,3.0,34.0,42.0,1.0,16.0,0.0,0.798126,0.170113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2470,2470,2473,32054,Zacatecas,Villa Hidalgo,19446.0,2167.903226,37142.598661,58.41954,5.038430,0.0,11.0,31.0,1.0,3.0,0.0,0.794049,0.176599
2471,2471,2474,32055,Zacatecas,Villanueva,31558.0,1962.535211,215650.560215,61.17057,3.174213,0.0,4.0,10.0,1.0,2.0,0.0,0.726474,0.193551
2472,2472,2475,32056,Zacatecas,Zacatecas,149607.0,2263.314961,43682.101048,60.79104,3.129201,3.0,5.0,22.0,1.0,2.0,0.0,0.785869,0.212981
2473,2473,2476,32057,Zacatecas,Trancoso,20455.0,2136.738095,21844.700672,55.98486,3.752207,3.0,8.0,9.0,1.0,2.0,0.0,0.843648,0.160632
2474,2474,2477,32058,Zacatecas,Santa María de la Paz,2767.0,2027.951220,27566.664781,0.00000,2.089186,0.0,0.0,10.0,1.0,1.0,0.0,0.710850,0.229551

In [13]:
horte_data

,CVE_GEO,avg_agricultura,std_agricultura,avg_construccion,std_construccion,avg_manufactura,std_manufactura,avg_mineria,std_mineria
0,1001,21.0,28.000000,24.193751,14.515714,44.979780,23.434441,2.0,4.000000
1,1002,NaN,NaN,4.500000,6.782330,2.083333,2.554952,NaN,NaN
2,1003,3.0,6.000000,2.333333,4.666667,2.835498,3.597140,1.0,2.000000
3,1004,NaN,NaN,NaN,NaN,1.000000,2.000000,NaN,NaN
4,1005,3.0,4.000000,23.113636,19.901047,80.622222,57.790030,106.0,197.342342
...,...,...,...,...,...,...,...,...,...
2353,32053,NaN,NaN,NaN,NaN,1.000000,2.000000,NaN,NaN
2354,32054,NaN,NaN,NaN,NaN,2.000000,2.449490,NaN,NaN
2355,32055,46.0,80.087452,NaN,NaN,3.076923,2.516220,3.0,6.000000
2356,32056,NaN,NaN,13.555556,13.814691,9.888060,7.944169,191.0,232.430635
2357,32057,NaN,NaN,NaN,NaN,2.100000,2.576820,NaN,NaN

In [14]:
horte_data.fillna(0, inplace=True)
horte_data

,CVE_GEO,avg_agricultura,std_agricultura,avg_construccion,std_construccion,avg_manufactura,std_manufactura,avg_mineria,std_mineria
0,1001,21.0,28.000000,24.193751,14.515714,44.979780,23.434441,2.0,4.000000
1,1002,0.0,0.000000,4.500000,6.782330,2.083333,2.554952,0.0,0.000000
2,1003,3.0,6.000000,2.333333,4.666667,2.835498,3.597140,1.0,2.000000
3,1004,0.0,0.000000,0.000000,0.000000,1.000000,2.000000,0.0,0.000000
4,1005,3.0,4.000000,23.113636,19.901047,80.622222,57.790030,106.0,197.342342
...,...,...,...,...,...,...,...,...,...
2353,32053,0.0,0.000000,0.000000,0.000000,1.000000,2.000000,0.0,0.000000
2354,32054,0.0,0.000000,0.000000,0.000000,2.000000,2.449490,0.0,0.000000
2355,32055,46.0,80.087452,0.000000,0.000000,3.076923,2.516220,3.0,6.000000
2356,32056,0.0,0.000000,13.555556,13.814691,9.888060,7.944169,191.0,232.430635
2357,32057,0.0,0.000000,0.000000,0.000000,2.100000,2.576820,0.0,0.000000

In [15]:
horte_data.drop(columns=['std_agricultura', 'std_construccion','std_manufactura', 'std_mineria'], inplace=True)
horte_data

      CVE_GEO  avg_agricultura  avg_construccion  avg_manufactura  avg_mineria
0        1001             21.0         24.193751        44.979780          2.0
1        1002              0.0          4.500000         2.083333          0.0
2        1003              3.0          2.333333         2.835498          1.0
3        1004              0.0          0.000000         1.000000          0.0
4        1005              3.0         23.113636        80.622222        106.0
...       ...              ...               ...              ...          ...
2353    32053              0.0          0.000000         1.000000          0.0
2354    32054              0.0          0.000000         2.000000          0.0
2355    32055             46.0          0.000000         3.076923          3.0
2356    32056              0.0         13.555556         9.888060        191.0
2357    32057              0.0          0.000000         2.100000          0.0

[2358 rows x 5 columns]

In [16]:
horte_data = horte_data.rename(columns={'CVE_GEO': 'CVEGEO'})

In [17]:
horte_data

      CVEGEO  avg_agricultura  avg_construccion  avg_manufactura  avg_mineria
0       1001             21.0         24.193751        44.979780          2.0
1       1002              0.0          4.500000         2.083333          0.0
2       1003              3.0          2.333333         2.835498          1.0
3       1004              0.0          0.000000         1.000000          0.0
4       1005              3.0         23.113636        80.622222        106.0
...      ...              ...               ...              ...          ...
2353   32053              0.0          0.000000         1.000000          0.0
2354   32054              0.0          0.000000         2.000000          0.0
2355   32055             46.0          0.000000         3.076923          3.0
2356   32056              0.0         13.555556         9.888060        191.0
2357   32057              0.0          0.000000         2.100000          0.0

[2358 rows x 5 columns]

In [18]:
all_data = pd.merge(
    raque_data,
    horte_data,
    on='CVEGEO',
    how='outer'  
)

In [19]:
all_data

,Unnamed: 0,index,CVEGEO,NOM_ENT,NOM_MUN,POB_TOTAL,ALTITUD,AREA,UMBRAL12H,PORCENTA_1,...,agua_FC,agua_PA,agua_PT,agua_PP,avg_impact,std_impact,avg_agricultura,avg_construccion,avg_manufactura,avg_mineria
0,0,0,1001,Aguascalientes,Aguascalientes,948990.0,1918.046196,116635.924756,57.80700,4.829056,...,226.0,2.0,24.0,0.0,0.900702,0.103733,21.0,24.193751,44.979780,2.0
1,1,1,1002,Aguascalientes,Asientos,51536.0,2030.520325,54337.426602,60.05970,4.274541,...,54.0,1.0,9.0,0.0,0.904023,0.087950,0.0,4.500000,2.083333,0.0
2,2,2,1003,Aguascalientes,Calvillo,58250.0,1827.143813,92335.783227,60.71769,1.158972,...,43.0,1.0,4.0,0.0,0.787156,0.188078,3.0,2.333333,2.835498,1.0
3,3,3,1004,Aguascalientes,Cosío,17000.0,1967.656566,12838.354453,52.22142,3.153082,...,13.0,1.0,3.0,0.0,0.912407,0.040532,0.0,0.000000,1.000000,0.0
4,4,4,1005,Aguascalientes,Jesús María,129929.0,1936.513072,49989.509156,58.46688,3.357602,...,42.0,1.0,16.0,0.0,0.798126,0.170113,3.0,23.113636,80.622222,106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2470,2470,2473,32054,Zacatecas,Villa Hidalgo,19446.0,2167.903226,37142.598661,58.41954,5.038430,...,31.0,1.0,3.0,0.0,0.794049,0.176599,0.0,0.000000,2.000000,0.0
2471,2471,2474,32055,Zacatecas,Villanueva,31558.0,1962.535211,215650.560215,61.17057,3.174213,...,10.0,1.0,2.0,0.0,0.726474,0.193551,46.0,0.000000,3.076923,3.0
2472,2472,2475,32056,Zacatecas,Zacatecas,149607.0,2263.314961,43682.101048,60.79104,3.129201,...,22.0,1.0,2.0,0.0,0.785869,0.212981,0.0,13.555556,9.888060,191.0
2473,2473,2476,32057,Zacatecas,Trancoso,20455.0,2136.738095,21844.700672,55.98486,3.752207,...,9.0,1.0,2.0,0.0,0.843648,0.160632,0.0,0.000000,2.100000,0.0
2474,2474,2477,32058,Zacatecas,Santa María de la Paz,2767.0,2027.951220,27566.664781,0.00000,2.089186,...,10.0,1.0,1.0,0.0,0.710850,0.229551,NaN,NaN,NaN,NaN

In [21]:
all_data.to_csv('all_data_horte_Raque.csv', index=False)